<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BEAcademyFinal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListClassesController</display-name>
    <servlet-name>ListClassesController</servlet-name>
    <servlet-class>com.controller.ListClassesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListClassesController</servlet-name>
    <url-pattern>/ListClasses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListClassSubjectController</display-name>
    <servlet-name>ListClassSubjectController</servlet-name>
    <servlet-class>com.controller.ListClassSubjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListClassSubjectController</servlet-name>
    <url-pattern>/ListClassSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListSubjectController</display-name>
    <servlet-name>ListSubjectController</servlet-name>
    <servlet-class>com.controller.ListSubjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSubjectController</servlet-name>
    <url-pattern>/ListSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListTeacherController</display-name>
    <servlet-name>ListTeacherController</servlet-name>
    <servlet-class>com.controller.ListTeacherController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTeacherController</servlet-name>
    <url-pattern>/ListTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTeacherController</display-name>
    <servlet-name>AddTeacherController</servlet-name>
    <servlet-class>com.controller.AddTeacherController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacherController</servlet-name>
    <url-pattern>/AddTeacher</url-pattern>
  </servlet-mapping>
</web-app>